body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(236, 197, 197), rgb(204, 122, 122));
	color: rgb(0, 0, 0);
	margin: 0;
	font-family: rubik;
}
progress{
	-webkit-appearance: none;
	height: 20px;
	border: 1px solid #222;
	overflow: hidden;
	color: #98d7a5;
	border-radius: 20px;
}

button:hover{
	cursor: pointer;
	animation: bounce 0.5s linear;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
    border: solid 4px white;
	border-radius: 20px;
	position: relative;
}

.cardsolo {
	list-style: none;
	padding: 40px;
	width: 50%;
	left: 15rem;
	color: #222;
	text-align: center;
    border: solid 4px white;
	border-radius: 20px;
	position: relative;
}

.statuscard {
	list-style: none;
	padding: 4px;
	width: 300px;
	color: #222;
	text-align: center;
    border: 0;
	border-radius: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: larger;
}

.status {
	list-style: none;
	padding: 40px;
    width: 50%;  
	font-size: 32px;
}

.cardtype {
	list-style: none;
	margin-left: auto;
    margin-right: auto;
	padding: 4px;
	width: 100px;
	color: #222;
	text-align: center;
	border: 3px solid white;
	border-radius: 20px;
	position: relative;
	-webkit-text-stroke-width: thin;
	-webkit-text-stroke-color: rgb(49, 49, 49);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-shadow: 0 0 5px black;
	font-size: larger;
	color: #ffffff;
}


.Ghost {
	background-color: #cbb0dd;
}

.Dark {
	background-color: #a0a0a0;
}

.Steel {
	background-color: #f4f4f4;
}

.Fire {
	background-color: #FDDFDF;
}

.Grass {
	background-color: #DEFDE0;
}

.Electric {
	background-color: #FCF7DE;
}

.Water, .Ice {
	background-color: #DEF3FD;
}

.Ground {
	background-color: #f4e7da;
}

.Rock {
	background-color: #d5d5d4;
}

.Fairy {
	background-color: #fceaff;
}

.Poison {
	background-color: #98d7a5;
}

.Bug {
	background-color: #f8d5a3;
}

.Dragon {
	background-color: #97b3e6;
}

.Psychic {
	background-color: #eaeda1;
}

.Flying {
	background-color: #F5F5F5;
}

.Fighting {
	background-color: #E6E0D4;
}

.Normal {
	background-color: #F5F5F5;
}

.Ghost2 {
	background-color: rgb(126, 126, 193);
}

.Dark2 {
	background-color: rgb(54, 54, 54);
}

.Steel2 {
	background-color: rgb(147, 147, 165);
}

.null2{
	border: 0px;
}

.Fire2 {
	background-color: rgb(243, 76, 24);
}

.Grass2 {
	background-color: rgb(121, 198, 58);
}

.Electric2 {
	background-color: rgb(252, 187, 23);
}

.Water2{
	background-color: rgb(82, 168, 255);
}

.Ice2{
	background-color: rgb(175, 235, 255);
}

.Ground2 {
	background-color: rgb(216, 184, 98);
}

.Rock2 {
	background-color: rgb(188, 163, 88);
}

.Fairy2 {
	background-color: rgb(223, 141, 223);
}

.Poison2 {
	background-color: rgb(154, 80, 155);
}

.Bug2 {
	background-color: rgb(136, 150, 14);
}

.Dragon2 {
	background-color: rgb(119, 94, 225);
}

.Psychic2 {
	background-color: rgb(237, 72, 131);
}

.Flying2 {
	background-color: rgb(157, 174, 247);
}

.Fighting2 {
	background-color: rgb(123, 49, 27);
}

.Normal2 {
	background-color: rgb(173, 165, 148);
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.text{
	color: #222;
	text-decoration: none;
	font-weight: bolder;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}


@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}