<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pokedex PA</title>
<link rel="icon" href="/images/pokeball.png">
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />

</head>
<body>
  
  <div class="container">
    <h1>Pokedex</h1>
    <ul class="pokedex">
      <li th:each="pokemon : ${pokemons}" class="card" th:classappend="${pokemon.types0}" >
        <img class="card-image" th:alt="${pokemon.name}" th:src="@{${'https://pokeres.bastionbot.org/images/pokemon/'+ pokemon.id +'.png'}}"/>
        <h2 class="card-title"><td th:text="${pokemon.id}"></td>. <a class="text" th:href="@{'/pokemon/' + ${pokemon.id}}"><td th:text="${pokemon.name}"></td></a></h2>
        <p class="cardtype" th:classappend="${pokemon.types0}+2"><td th:text="${pokemon.types0}"></td></p>
        <p class="cardtype" th:classappend="${pokemon.types1}+2"><td th:text=" ${pokemon.types1}"></td></p>
      </li>
    </ul>
  </div>
</body>
</html>