<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pokedex PA</title>
<link rel="icon" href="/images/pokeball.png">
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />

</head>
<body>
  
  <div class="container">
    <h1>Pokedex</h1>
        




    <form action="" method="get" style="display: flex; flex-direction: column;">
      <div style="width: 100%; display: flex; flex-direction: row;">
        <button class="cardtype Bug2" type="submit" id="bug" value="bug" name="types0" style="margin: 15px;">Bug</button>
        <button class="cardtype Electric2" type="submit" id="electric" value="electric" name="types0" style="margin: 15px;">Electric</button>
        <button class="cardtype Fire2" type="submit" id="fire" value="fire" name="types0" style="margin: 15px;">Fire</button>
        <button class="cardtype Grass2" type="submit" id="grass" value="grass" name="types0" style="margin: 15px;">Grass</button>
        <button class="cardtype Normal2" type="submit" id="normal" value="normal" name="types0" style="margin: 15px;">Normal</button>
        <button class="cardtype Rock2" type="submit" id="rock" value="rock" name="types0" style="margin: 15px;">Rock</button>
        <button class="cardtype Dark2" type="submit" id="dark" value="dark" name="types0" style="margin: 15px;">Dark</button>
        <button class="cardtype Fairy2" type="submit" id="fairy" value="fairy" name="types0" style="margin: 15px;">Fairy</button>
        <button class="cardtype Flying2" type="submit" id="flying" value="flying" name="types0" style="margin: 15px;">Flying</button>
      </div>
      
      <div style="width: 100%; display: flex; flex-direction: row;">
        <button class="cardtype Ground2" type="submit" id="ground" value="ground" name="types0" style="margin: 15px;">Ground</button>
        <button class="cardtype Poison2" type="submit" id="poison" value="poison" name="types0" style="margin: 15px;">Poison</button>
        <button class="cardtype Steel2" type="submit" id="steel" value="steel" name="types0" style="margin: 15px;">Steel</button>
        <button class="cardtype Dragon2" type="submit" id="dragon" value="dragon" name="types0" style="margin: 15px;">Dragon</button>
        <button class="cardtype Fighting2" type="submit" id="fighting" value="fighting" name="types0" style="margin: 15px;">Fighting</button>
        <button class="cardtype Ghost2" type="submit" id="ghost" value="ghost" name="types0" style="margin: 15px;">Ghost</button>
        <button class="cardtype Ice2" type="submit" id="ice" value="ice" name="types0" style="margin: 15px;">Ice</button>
        <button class="cardtype Psychic2" type="submit" id="psychic" value="psychic" name="types0" style="margin: 15px;">Psychic</button>
        <button class="cardtype Water2" type="submit" id="water" value="water" name="types0" style="margin: 15px;">Water</button>
        <button class="cardtype " type="submit" id="" value="" name="types0" style="margin: 15px;">Clear</button>
      </div>
      

    </form>





    <ul class="pokedex">
        <a th:href="@{'/pokemon/'+ ${pokemon.id}}" th:each="pokemon : ${pokemons}" class="card text" th:classappend="${pokemon.types0}" >
          <li>
            <img class="card-image" th:alt="${pokemon.name}" th:src="@{${'https://pokeres.bastionbot.org/images/pokemon/'+ pokemon.id +'.png'}}"/>
            <h2 class="card-title"><td th:text="${pokemon.id}"></td>.<td th:text="${pokemon.name}"></td></h2>
            <p class="cardtype" th:classappend="${pokemon.types0}+2"><td th:text="${pokemon.types0}"></td></p>
            <p class="cardtype" th:classappend="${pokemon.types1}+2"><td th:text=" ${pokemon.types1}"></td></p>
          </li>
          </a>
    </ul>
  </div>
</body>
</html>