<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pokedex PA</title>
<link rel="icon" href="/images/pokeball.png">
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet" />

</head>
<body>
  <div class="container">
    <h1>Pokedex</h1>
    <form action="" method="get" style="display: flex; flex-direction: column;">
      <div style="width: 100%; display: flex; flex-direction: row;">
        <button class="cardtype Bug2" type="submit" id="Bug" value="Bug" name="types0" style="margin: 15px;">Bug</button>
        <button class="cardtype Electric2" type="submit" id="Electric" value="Electric" name="types0" style="margin: 15px;">Electric</button>
        <button class="cardtype Fire2" type="submit" id="Fire" value="Fire" name="types0" style="margin: 15px;">Fire</button>
        <button class="cardtype Grass2" type="submit" id="Grass" value="Grass" name="types0" style="margin: 15px;">Grass</button>
        <button class="cardtype Normal2" type="submit" id="Normal" value="Normal" name="types0" style="margin: 15px;">Normal</button>
        <button class="cardtype Rock2" type="submit" id="Rock" value="Rock" name="types0" style="margin: 15px;">Rock</button>
        <button class="cardtype Dark2" type="submit" id="Dark" value="Dark" name="types0" style="margin: 15px;">Dark</button>
        <button class="cardtype Fairy2" type="submit" id="Fairy" value="Fairy" name="types0" style="margin: 15px;">Fairy</button>
        <button class="cardtype Flying2" type="submit" id="Flying" value="Flying" name="types0" style="margin: 15px;">Flying</button>
      </div>
      <div style="width: 100%; display: flex; flex-direction: row;">
        <button class="cardtype Ground2" type="submit" id="Ground" value="Ground" name="types0" style="margin: 15px;">Ground</button>
        <button class="cardtype Poison2" type="submit" id="Poison" value="Poison" name="types0" style="margin: 15px;">Poison</button>
        <button class="cardtype Steel2" type="submit" id="Steel" value="Steel" name="types0" style="margin: 15px;">Steel</button>
        <button class="cardtype Dragon2" type="submit" id="Dragon" value="Dragon" name="types0" style="margin: 15px;">Dragon</button>
        <button class="cardtype Fighting2" type="submit" id="Fighting" value="Fighting" name="types0" style="margin: 15px;">Fighting</button>
        <button class="cardtype Ghost2" type="submit" id="Ghost" value="Ghost" name="types0" style="margin: 15px;">Ghost</button>
        <button class="cardtype Ice2" type="submit" id="Ice" value="Ice" name="types0" style="margin: 15px;">Ice</button>
        <button class="cardtype Psychic2" type="submit" id="Psychic" value="Psychic" name="types0" style="margin: 15px;">Psychic</button>
        <button class="cardtype Water2" type="submit" id="Water" value="Water" name="types0" style="margin: 15px;">Water</button>
        <button class="cardtype " type="submit" id="" value="" name="types0" style="margin: 15px;">Limpar</button>
      </div>
    </form>
    <form action="" method="get">  
      <div>
        <input class="cardtype "  type="text" name="name" id="name">
        <input class="cardtype "  type="submit" value="Enviar">
      </div> 
    </form>
    <ul class="pokedex">
        <a th:href="@{'/pokemon/'+ ${pokemon.id}}" th:each="pokemon : ${pokemons}" class="card text" th:classappend="${pokemon.types0}" >
          <li>
            <img class="card-image" th:alt="${pokemon.name}" th:src="@{${'https://pokeres.bastionbot.org/images/pokemon/'+ pokemon.id +'.png'}}"/>
            <h2 class="card-title"><td th:text="${pokemon.id}"></td> <td th:text="${pokemon.name}"></td></h2>
            <p class="cardtype" th:classappend="${pokemon.types0}+2" ><td th:text="${pokemon.types0}" ></td></p>
            <p class="cardtype" th:classappend="${pokemon.types1}+2" ><td th:text="${pokemon.types1}" ></td></p>
          </li>
        </a>
        <a th:href="@{'/pokemonnovo/'+ ${pokemon.id}}" th:each="pokemon : ${pokemonsnovo}" class="card text" th:classappend="${pokemon.types0}" >
          <li>
            <img class="card-image" th:alt="${pokemon.name}" th:src="@{${pokemon.imagem}}"/>
            <h2 class="card-title"><td th:text="${pokemon.id}+${id}"></td> <td th:text="${pokemon.name}"></td></h2>
            <p class="cardtype" th:classappend="${pokemon.types0}+2" ><td th:text="${pokemon.types0}" ></td></p>
            <p class="cardtype" th:classappend="${pokemon.types1}+2" ><td th:text="${pokemon.types1}" ></td></p>
          </li>
        </a>
        <a href="/addpokemon" class="card text">
          <h2>
            Adicionar Novo Pokemon
          </h2>
        </a>
    </ul>
  </div>
</body>
</html>